nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	padding: 10px;
	border-bottom: 1px solid #e2e2e2;
}
nav button {
	background-color: transparent;
	color: #e2e2e2;
	border: none;
	cursor: pointer;
	padding: 10px;
	margin: 0 10px;
	letter-spacing: 2px;
	align-items: center;
	font-size: 16px;
	font-family: Tahoma;
	position: relative;
	text-transform: upper-case;
	margin-bottom: 6px;
	margin-left: 20px;
}

nav button:hover {
	background-color: transparent;
	color: #33FF46;
}

nav button::after {
	content: "";
	display: block;
	height: 3px;
	width: 0%;
	background-color: #33FF46;
	margin-top: 5px;
	transition: width 0.3s ease-in-out;
	position: absolute;
	bottom: 0;
	left: 0;
}

nav button:hover::after {
	width: 100%;
}

head {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}



.logo {
	max-height: 63px;
	max-width: 63px;
}

nav a {
	color: #e2e2e2;
	text-decoration: none;
	padding: 10px;
	margin: 0 10px;
	letter-spacing: 2px;
	align-items: center;
	font-size: 16px;
	font-family: Tahoma;
}

nav a:hover::after {
	content: "";
	display: block;
	height: 3px;
	width: 100%;
	background-color: #33FF46;
	margin-top: 5px;
	padding: 0 5px; /* Add padding to the line */
}

nav a::after {
	content: "";
	display: block;
	height: 3px;
	width: 0%;
	background-color: #33FF46;
	margin-top: 5px;
	transition: width 0.3s ease-in-out; /* Add transition effect */
}

nav a:hover::after {
	width: 100%; /* Increase the width on hover */
}

nav a:hover {
	background-color: transparent;
	color: #33FF46;
}



body {
	margin: 0;
	background-image: linear-gradient(to right top, #151616, #202426, #2c3337, #3c414a,
		#504f5c);
}

.BH-head {
	color: #e2e2e2;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	margin: 0 10px;
	letter-spacing: 8px;
	align-items: center;
	font-size: 30px;
	font-family: Tahoma;
	text-align: center;
	padding-top: 60px;
	text-transform: uppercase;
}

p::after {
	content: "";
	display: block;
	height: 1px;
	width: 60%;
	background-color: #e2e2e2;
	margin: 0 auto;
	margin-top: 10px;
}

html, body {
	height: 100%;
}

.container {
	min-height: 100%;
}
.fields-container {
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: center;
  
}

textarea {
  background-color: #f2f2f2;
  width: 800px;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  resize: none;
}
.description {
        background-color: #f2f2f2;
        width: 800px;
        min-height: 300px;
        padding: 10px;
        border-radius: 10px;
        resize: none;
        white-space: pre-wrap;
        overflow: auto;
        font-family: monospace;
        font-size: 14px;
        line-height: 1.5;
        border: none;
        box-sizing: border-box;
    }
.message-input {
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  resize: vertical;
    white-space: pre-wrap !important;
}
.field {
  margin: 10px auto;
   justify-content: center;
  text-align: center;
  color: #e2e2e2;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  letter-spacing: 2px;
  align-items: center;
  font-size: 18px;
  font-family: Tahoma;
  text-transform: uppercase;
 
}

.field input[type="text"] {
    width: 250px;
    height: 50px;
}
form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #3e8e41;
}
.submit-button {
  display: block; /* This makes the button a block element */
  margin: 0 auto; /* This centers the block element horizontally */
  padding-top:10px;
  margin: 20px auto 0;
}
.delete-button {
  display: block; /* This makes the button a block element */
  margin: 0 auto; /* This centers the block element horizontally */
  padding-top:10px;
  margin: 20px auto 0;
}
.delete-button {
  background-color: red !important;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-button :hover {
  background-color: #E06A6A;
}