<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Forum</title>
<link rel="stylesheet" type="text/css" href="/forum/forums.css" />

</head>
<body>

	<nav>
		<img style="padding-left: 30px;" class="logo"
			th:src="@{/images/8.png}" alt="Logo"> <a
			th:href="@{/home/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">HOME</a> <a
			th:href="@{/forums/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">FORUMS</a> <a th:href="@{/routes/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">ROUTES</a>
			<a th:text="'User: ' + ${user}" style="padding-left: 30px; font-style: italic;"></a>

	</nav>
	<div class="bottom-half">

		<p class="BH-head">FORUMS</p>

	</div>
	<div>
		<table class="channel-table">
			<tbody>
				<tr th:each="channel: ${channels}">
					<td><a class="channels"
						th:href="@{/channel/{channelId}/{userId}(channelId=${channel.channelId}, userId=${userId})}"
						th:text="${channel.channelName}"></a> <br /> <span
						class="description"><small th:text="${channel.description}"></small></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="form-container">
		<form method="post" th:action="@{/forums/{userId}/(userId=${userId})}">
			<div>
				<label>New Channel: </label> <input type="text"
					th:field="${channel.channelName}" />
			</div>
			<div>
				<label>Description: </label> <input type="text"
					th:field="${channel.description}" />
			</div>
			<div>
				<input class="submit-button" type="submit" value="Create" />
			</div>
		</form>
	</div>

</body>
</html>