<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Forum</title>
<link rel="stylesheet" type="text/css" href="/forum/forum.css" />

</head>
<body>

	<nav>
		<img style="padding-left: 30px;" class="logo"
			th:src="@{/images/8.png}" alt="Logo"> <a
			th:href="@{/home/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">HOME</a> <a
			th:href="@{/forums/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">FORUMS</a> <a
			th:href="@{/routes/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">ROUTES</a> <a
				th:text="'User: ' + ${username}"
				style="padding-left: 30px; font-style: italic;" th:href="@{/user/{userId}/(userId=${userId})}"></a>
		<form method="post" action="/logout">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<button class="button" type="submit">LOGOUT</button>
		</form>
	</nav>
	<div class="bottom-half">

		<p class="BH-head" th:text="${channel.channelName}"></p>

	</div>

	<div class="message-window">
		<div class="message-container">
			<div th:each="message : ${channel.messages}"
				th:class="${messageStat.odd} ? 'odd' : 'even'">
				<p class="message-text"
					th:text="${message.user.username + ': ' + message.message}"></p>
			</div>
		</div>
	</div>
	<div class="form-container">
		<form method="post"
			th:action="@{/channel/{channelId}/{userId}(channelId=${channel.channelId}, userId=${userId})}">
			<div style="padding: 20px;">
				<label>Send Message: </label> <input type="text"
					th:field="${message.message}" />
			</div>
			<div>
				<input class="submit-button" type="submit" value="Create" />
			</div>
		</form>
	</div>
</body>
</html>