<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Centered Navbar with Search Bar Example</title>
<link rel="stylesheet" type="text/css" href="forum.css" />

</head>
<body>
	<div class="top-half">
		<nav>
			<img style="padding-left: 30px;" class="logo"
				th:src="@{/images/8.png}" alt="Logo"> <a href="#"
				style="padding-left: 30px;">HOME</a> <a href="/forum/"
				style="padding-left: 30px;">CHAT</a> <a href="/routes/"
				style="padding-left: 30px;">ROUTES</a>
			
		</nav>
		<div class="bottom-half">

			<p class="BH-head">FORUMS</p>

		</div>
</body>
</html>