<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/home/home.css">

</head>
<body>
	<div class="top-half">
		<nav>
			<img style="padding-left: 30px;" class="logo"
				th:src="@{/images/8.png}" alt="Logo"> <a href="#"
				style="padding-left: 30px;">HOME</a> <a
				th:href="@{/forums/{userId}/(userId=${userId})}"
				style="padding-left: 30px;">FORUMS</a> <a
				th:href="@{/routes/{userId}/(userId=${userId})}"
				style="padding-left: 30px;">ROUTES</a> <a
				th:text="'User: ' + ${user}"
				style="padding-left: 30px; font-style: italic;" th:href="@{/user/{userId}/(userId=${userId})}"></a>
			<form method="post" action="/logout">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<button class="button" type="submit">LOGOUT</button>
			</form>

			<!-- 		<div class="search-container"> -->
			<!-- 			<input type="text" placeholder="Search..."> -->
			<!-- 			<button type="submit">Search</button> -->
			<!-- 		</div> -->
		</nav>
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img th:src="@{/images/15-2.jpg}" alt="Slide 1">
			</div>
			<div class="mySlides fade">
				<img th:src="@{/images/14-3.jpg}" alt="Slide 2">
			</div>
			<div class="mySlides fade">
				<img th:src="@{/images/16.jpg}" alt="Slide 3">
			</div>
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next"
				onclick="plusSlides(1)">&#10095;</a>
		</div>

		<script src="/home/home.js"></script>
	</div>
	<div class="bottom-half">

		<p class="BH-head">COMPLETED ROUTES</p>

	</div>
	<div>
		<table class="channel-table">
			<tbody>
				<tr th:each="route: ${routes}">
					<td><a class="channels"
						th:href="@{/route/{routeId}/{userId}(routeId=${route.routeId}, userId=${userId})}"
						th:text="${route.name}"></a> <br /> <span class="description"><small
							th:text="${route.grade}"></small></span></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>