<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Centered Navbar with Search Bar Example</title>
<link rel="stylesheet" type="text/css" href="login.css" />

</head>
<body>
	<div class="container">
  <img th:src="@{/images/8.png}" alt="Welcome to Rock On!">
  <div class="login">
    <h2>Login or Register!</h2>
    <form action="" method="post">
      <label for="username">Username:</label>
      <input type="text" th:field="${user.name}"  required>
      <label for="password">Password:</label>
      <input type="password" th:field="${user.password}" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
	
		
</body>
</html>