<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Forum</title>
<link rel="stylesheet" type="text/css" href="/routes/routes.css" />

</head>
<body>

	<nav>
		<img style="padding-left: 30px;" class="logo"
			th:src="@{/images/8.png}" alt="Logo"> <a
			th:href="@{/home/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">HOME</a> <a
			th:href="@{/forums/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">FORUMS</a> <a
			th:href="@{/routes/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">ROUTES</a> <a
				th:text="'User: ' + ${user}"
				style="padding-left: 30px; font-style: italic;" th:href="@{/user/{userId}/(userId=${userId})}"></a>
		<form method="post" action="/logout">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<button class="button" type="submit">LOGOUT</button>
		</form>
	</nav>
	<div class="bottom-half">

		<p class="BH-head">ROUTES</p>

	</div>
	<div>
		<table class="channel-table">
			<tbody>
				<tr th:each="route: ${routes}">
					<td><a class="channels"
						th:href="@{/route/{routeId}/{userId}(routeId=${route.routeId}, userId=${userId})}"
						th:text="${route.name}"></a> <br /> <span class="description"><small
							th:text="${route.grade}"></small></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="form-container">
		<form method="get"
			th:action="@{/createroute/{userId}/(userId=${userId})}">

			<div>
				<input class="submit-button" type="submit" value="Add New Route" />
			</div>
		</form>

	</div>

</body>
</html>