<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="/users/user.css" />
</head>
<body>
	<nav>
		<img style="padding-left: 30px;" class="logo"
			th:src="@{/images/8.png}" alt="Logo"> <a
			th:href="@{/home/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">HOME</a> <a
			th:href="@{/forums/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">FORUMS</a> <a
			th:href="@{/routes/{userId}/(userId=${userId})}"
			style="padding-left: 30px;">ROUTES</a> <a
			th:text="'User: ' + ${user.username}"
			style="padding-left: 30px; font-style: italic;"
			th:href="@{/user/{userId}/(userId=${userId})}"></a>
		<form method="post" action="/logout">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<button class="logout" type="submit"
				style="background-color: transparent; color: #e2e2e2;">LOGOUT</button>

		</form>

		<!-- 		<div class="search-container"> -->
		<!-- 			<input type="text" placeholder="Search..."> -->
		<!-- 			<button type="submit">Search</button> -->
		<!-- 		</div> -->
	</nav>


	<div class="users">

		<p class="BH-head">USERS</p>
	</div>
	<div>
		<table class="channel-table">
			<tbody>
				<tr th:each="user: ${users}">
					<td><a class="channels"						
						th:text="${user.username}"></a> 
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>